{% extends "base-form.njk" %}
{% set hmpoPageKey = "licence-issuer" %}
{% set hmpoH1Class = "govuk-heading-l" %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "hmpo-form/macro.njk" import hmpoForm %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% call hmpoForm(ctx, {attributes: {onsubmit: 'window.disableFormSubmit()'} }) %}

{{ hmpoRadios(ctx, {
id: "licenceIssuerRadio"
}) }}


{% endcall %}

{% block submitButton %}
    {{ hmpoSubmit(ctx, {id: 'submitButton'}) }}
{% endblock %}

{{ govukDetails({
summaryText: translate("pages.licence-issuer.details.summary"),
html: hmpoHtml(translate("pages.licence-issuer.details.text"))
}) }}

{% set footerNavItems = translate("govuk.footerNavItems") %}

{% block footer %}
    {{ govukFooter( footerNavItems ) }}
{% endblock %}
